@model S.G.H.ViewModel.PatientFactureViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Telecharger";
    Layout = "_Layout";
}
<div>
    <h4>@localizer["Telecharger la facture de cette Patient avec le matricule"] : @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <div>
        <a asp-action="TelechargerFacture_Pdf" class="btn btn-success">@localizer["Telecharger La Facture"]</a>
        <a asp-action="Index" class="btn btn-outline-info">@localizer["Annuler"]</a>
    </div>
</div>

